
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: gray;
    display: grid;
    place-items: center;
    transition: opacity 5s, visibility 3.7s;
}

.loader {
    border: 16px solid black; /* Light grey */
    border-top: 16px solid red; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: loaderSpin 0.5s linear infinite;
}

@keyframes loaderSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade {
    opacity: 0.3;
    visibility: hidden;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
    flex-direction: column;
}

.title-text {
    display: flex;
    /*justify-content: center;*/
    color: white;
    font-size: 50px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red; }
  }

.container-btns {
    margin-top: 110px;
    margin-bottom: 100px;
}

.btn {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 50px;
    padding: 25px;
    margin: 15px;
    border-radius: 30px;
    border: 1px solid white;
}

.btn:hover {
    box-shadow: 0 0 20px red;
    transition: ease-in-out 0.1s;
}

.alert-text {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white
}

.subalert-text {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: red;
}

.score-label-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.score-label {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    color: white;
}

.score-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.score-label-player {
    font-size: 30px;
    font-weight: 700;
    color: red;
}

.score-label-computer {
    font-size: 30px;
    font-weight: 700;
    color: red;
}

.footer-text-label {
    color: white;
    font-size: 30px;
}

.end-game-modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    animation-duration: 2s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.modal-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70vh;
    height: 50vh;
    border: 1px solid white;
    border-radius: 40px;
    background-color: black;
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.end-game-gameover {
    font-size: 60px;
    font-weight: 900;
    color: red;
}

.end-game-winner {
    font-size: 30px;
    padding: 10px;
    font-weight: 700;
    color: red;
    text-align: center;
}

.end-game-btn {
    color: white;
    padding: 12px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 8px;
    border: 1px solid white;
    border-radius: 40px;
    cursor: pointer;
}

.end-game-btn:hover {
    background-color: white;
    color: red;
    transition: ease-in-out 0.3s;
}